*{
  margin: 0;
  padding: 0;
}
.appLayout{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.navbarLayout{
    width: 10%;
}
.accountsLayout{
    width: 45%;
}
.accountsInfoLayout{
    width: 45%;
}